<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="environmentUrl" value="http://automationpractice.com/index.php" />
        <add key="browser" value="IE" />
        <add key="chromeMode" value="headless" />
        <add key="restClientUrl" value="https://reqres.in/" />
    </appSettings>
</configuration>